// Colors
$black: rgba(20, 20, 20, 1);
$darkergrey: rgba(50, 50, 50, 1);
$darkgrey: rgba(70, 70, 70, 1);
$grey: rgba(130, 130, 130, 1);
$lightgrey: rgba(230, 230, 230, 1);
$bglightgrey: rgba(240, 240, 240, 1);
$blue: royalblue;
$red: tomato;
$yellow: goldenrod;

// Media Query Widths
$mWidth--small: 400px;
$mWidth--medium: 600px;
$mWidth--large: 750px;

// Mixins
@mixin mQ($mWidth) {
    @media only screen and (max-width: $mWidth) {
        @content;
    }
}

.App {
    color: $black;

    &.noScroll {
        height: 100vh;
        overflow-y: hidden;
    }
}