@import "./App.scss";

.pricing {
    width: 100%;
    background: white;

    .pricing-cont {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        padding: 8rem 2rem;
        justify-content: center;
    }
}

@include mQ($width--l) {
    .pricing-cont {
        flex-direction: column;
        align-items: center;
    }
}